/* Reset some default styles to ensure consistency across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a basic font style */
body {
font: italic 1.2rem "Montserrat", serif;
}

/* Style the header */
header {
    background-color: #333; /* Background color for the header */
    color: #fff; /* Text color for the header */
}

#navbar-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#logo-name {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

#navbar-left {
    display: flex;
    align-items: center;
}

#navbar-right a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

/* Style the biography section */
/* BIOGRAFY */
#my-biografy {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2cb;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#my-biografy p {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

#my-photo {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}


/* Style the skills section */

#my-skills {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#my-skills h2 {
  font-size: 24px;
}

#my-skills img {
  max-width: 100px;
  height: auto;
  margin: 10px;
}


/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}



  footer {
    background-color: #333;
    color: #fff;
    padding: 1%;
    text-align: center;
    margin-bottom: 0;
    position: absolute;
    bottom: 3;
    width: 100%;
    left: 0%;
   
    margin-right: -3%;
}
.social-icons a {
  margin: 0 5%;
  margin-bottom: 2%;
}

.social-icons img {
  width: 3%;
  height: 10%;
}

#MK {
  margin-bottom: -1%;

}
  
  /* Mobile Styles */
  @media only screen and (max-width: 400px) {
    body {
      background-color: #F09A9D; /* Red */
    }
  }
  
  /* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .sign-up,
    .feature-1,
    .feature-2,
    .feature-3 {
      width: 50%;
    }
  }
  
  /* Desktop Styles */
@media only screen and (min-width: 961px) {
    .page {
      width: 960px;
      margin: 0 auto;
    }
    .feature-1,
    .feature-2,
    .feature-3 {
      width: 33.3%;
    }
    .header {
      height: 400px;
    }
    .sign-up {
        height: 200px;
        order: 1;
      }
      .content {
        order: 2;
      }
  }